:root {
    --clr-primary: #020202;
    --clr-bg: #fdfdfd;
}

html {
    font-size: 1.5rem;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--clr-primary);
    background: var(--clr-bg);
    padding: 1em;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    margin-bottom: 1em;
}

li {
    line-height: 1.25em;
    list-style-type: none;
}